@font-face {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/GothamPro-Regular.woff") format("woff"), url("../../assets/fonts/GothamPro-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/fonts/GothamPro-Medium.woff") format("woff"), url("../../assets/fonts/GothamPro-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/GothamPro-Bold.woff") format("woff"), url("../../assets/fonts/GothamPro-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  font-weight: 900;
  font-style: normal;
  src: url("../../assets/fonts/GothamPro-Black.woff") format("woff"), url("../../assets/fonts/GothamPro-Black.woff2") format("woff2");
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

textarea {
  resize: none;
}

input,
button {
  outline: none;
  font: inherit;
}

fieldset {
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: #000;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  body {
    font-size: calc(12px + 2 * (100vw - 600px) / 1320);
  }
}
body.no-scroll {
  overflow-y: hidden;
}

.wrapper {
  position: relative;
  min-height: 100dvh;
  min-width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper__img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

[class$=__icon],
[class$=-icon] {
  display: flex;
  align-items: center;
}

.logo__img {
  height: 30px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .logo__img {
    height: calc(23px + 7 * (100vw - 600px) / 1320);
  }
}

.header__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.header__content::after {
  content: "";
  position: absolute;
  width: 300px;
  right: -15px;
  top: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(90px);
  backdrop-filter: blur(90px);
  border-radius: 0 0 0 35px;
  transform: skewX(16deg);
  z-index: -2;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__content::after {
    width: calc(220px + 80 * (100vw - 600px) / 1320);
  }
}
.header__content::before {
  content: "";
  position: absolute;
  width: 300px;
  left: -15px;
  top: 0;
  bottom: 8px;
  -webkit-backdrop-filter: blur(90px);
  backdrop-filter: blur(90px);
  border-radius: 0 0 35px 0;
  transform: skewX(-16deg);
  z-index: -2;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__content::before {
    width: calc(220px + 80 * (100vw - 600px) / 1320);
  }
}
.header__content-imgLeft {
  position: absolute;
  left: -40px;
  top: -22px;
  width: 395px;
  height: 143px;
  z-index: -1;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__content-imgLeft {
    width: calc(295px + 100 * (100vw - 600px) / 1320);
    height: calc(123px + 20 * (100vw - 600px) / 1320);
  }
}
.header__content-imgRight {
  position: absolute;
  right: -40px;
  top: -22px;
  width: 395px;
  height: 143px;
  z-index: -1;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__content-imgRight {
    width: calc(295px + 100 * (100vw - 600px) / 1320);
    height: calc(123px + 20 * (100vw - 600px) / 1320);
  }
}
.header__left {
  padding: 12px 46px 14px 23px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__left {
    padding-right: calc(30px + 33 * (100vw - 600px) / 1320);
    padding-left: calc(15px + 15 * (100vw - 600px) / 1320);
  }
}
.header__center {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.header__center-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-weight: 900;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__center-title {
    font-size: calc(18px + 6 * (100vw - 600px) / 1320);
  }
}
.header__center-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__center-text {
    font-size: calc(10px + 2 * (100vw - 600px) / 1320);
  }
}
.header__right {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 11px 22px 15px 66px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__right {
    padding-top: calc(8px + 3 * (100vw - 600px) / 1320);
    padding-bottom: calc(11px + 4 * (100vw - 600px) / 1320);
    padding-right: calc(16px + 6 * (100vw - 600px) / 1320);
    padding-left: calc(40px + 26 * (100vw - 600px) / 1320);
    gap: calc(11px + 4 * (100vw - 600px) / 1320);
  }
}
.header__right-box {
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__right-box {
    gap: calc(12px + 4 * (100vw - 600px) / 1320);
  }
}
.header__right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__right-column {
    gap: calc(5px + 3 * (100vw - 600px) / 1320);
  }
}
.header__right-column:has(+ .header__right-column) {
  padding-right: 16px;
  -moz-column-gap: 16px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__right-column:has(+ .header__right-column) {
    padding-right: calc(12px + 4 * (100vw - 600px) / 1320);
  }
}
.header__right-num {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__right-num {
    font-size: calc(11px + 3 * (100vw - 600px) / 1320);
  }
}
.header__right-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__right-text {
    font-size: calc(8px + 3 * (100vw - 600px) / 1320);
  }
}
.header__right-metro {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 8px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__right-metro {
    margin-left: calc(4px + 4 * (100vw - 600px) / 1320);
  }
}
.header__right-icon {
  justify-content: center;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__right-icon svg {
    width: calc(27px + 9 * (100vw - 600px) / 1320);
    height: calc(27px + 9 * (100vw - 600px) / 1320);
  }
}

.content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.content__inner {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.content__item-left {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .content__item-left {
    gap: calc(22px + 5 * (100vw - 600px) / 1320);
  }
}
.content__elem {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 30px;
  padding-left: 8px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .content__elem {
    padding-right: calc(22px + 8 * (100vw - 600px) / 1320);
  }
}
.content__elem:hover::after {
  opacity: 0;
}
.content__elem::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) skewX(-20deg);
  width: 200%;
  height: 90%;
  border-radius: 0 20px 20px 0;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(90deg, rgb(13, 152, 119) -54.021%, rgb(46, 176, 145) 93.058%);
  z-index: -1;
  transition: opacity 0.23s ease-in-out;
}
.content__elem::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) skewX(-20deg);
  width: 200%;
  height: 90%;
  border-radius: 0 20px 20px 0;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(270deg, rgb(227, 95, 103), rgb(238, 147, 101) 108.065%);
  z-index: -1;
  opacity: 1;
  transition: opacity 0.23s ease-in-out;
}
.content__elem-img {
  width: 75px;
  height: 66px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .content__elem-img {
    width: calc(58px + 17 * (100vw - 600px) / 1320);
    height: calc(44px + 22 * (100vw - 600px) / 1320);
  }
}
.content__elem-text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .content__elem-text {
    font-size: calc(12px + 3 * (100vw - 600px) / 1320);
  }
}
.content__elem-num {
  position: absolute;
  top: 5px;
  right: -20px;
  width: 24px;
  color: rgb(255, 255, 255);
  font-size: 9px;
  font-weight: 500;
  text-align: center;
  z-index: 1;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .content__elem-num {
    font-size: calc(7px + 2 * (100vw - 600px) / 1320);
    right: calc(-16px + 4 * (100vw - 600px) / 1320);
  }
}
.content__elem-num::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  translate: 50% -50%;
  width: 24px;
  height: 24px;
  border-radius: 108px;
  background-color: rgb(238, 79, 79);
  z-index: -1;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .content__elem-num::after {
    width: calc(20px + 4 * (100vw - 600px) / 1320);
    height: calc(20px + 4 * (100vw - 600px) / 1320);
  }
}
.content__bot {
  position: relative;
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: auto;
  margin-bottom: -35px;
  right: -20px;
}
.content__bot .link:last-child {
  padding-right: 40px;
}
.content__accordion {
  position: relative;
  margin-top: auto;
  margin-bottom: -50px;
  width: 315px;
  margin-left: auto;
  bottom: 0;
  right: 0;
  border-radius: 20px 0 0 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) 100%);
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .content__accordion {
    width: calc(230px + 85 * (100vw - 600px) / 1320);
  }
}
.content__accordion::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 20px 0 0 0;
  -webkit-backdrop-filter: blur(300px);
  backdrop-filter: blur(300px);
}
.content__forum {
  height: 388px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .content__forum {
    height: calc(295px + 93 * (100vw - 600px) / 1320);
  }
}
.content__forum-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  margin: 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .content__forum-box {
    padding: calc(12px + 4 * (100vw - 600px) / 1320);
  }
}
.content__forum-title {
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 500;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .content__forum-title {
    font-size: calc(8px + 3 * (100vw - 600px) / 1320);
  }
}
.content__forum-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .content__forum-text {
    font-size: calc(8px + 3 * (100vw - 600px) / 1320);
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .profile {
    gap: calc(5px + 5 * (100vw - 600px) / 1320);
  }
}
.profile__img {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .profile__img {
    width: calc(34px + 11 * (100vw - 600px) / 1320);
    height: calc(34px + 11 * (100vw - 600px) / 1320);
  }
}
.profile__column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .profile__column {
    gap: calc(2px + 4 * (100vw - 600px) / 1320);
  }
}
.profile__name {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .profile__name {
    font-size: calc(12px + 4 * (100vw - 600px) / 1320);
  }
}
.profile__link {
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(255, 198, 112);
  font-size: 14px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .profile__link {
    font-size: calc(10px + 2 * (100vw - 600px) / 1320);
  }
}
.profile__bell {
  position: relative;
  cursor: pointer;
}
.profile__bell-num {
  position: absolute;
  top: -8px;
  right: -8px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-align: center;
  padding: 5px 6px;
  font-style: normal;
  font-weight: 500;
  z-index: 1;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .profile__bell-num {
    font-size: calc(6px + 4 * (100vw - 600px) / 1320);
  }
}
.profile__bell-num::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 20px;
  height: 20px;
  border-radius: 54px;
  background: rgb(238, 79, 79);
  z-index: -1;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .profile__bell-num::after {
    width: calc(12px + 4 * (100vw - 600px) / 1320);
    height: calc(12px + 4 * (100vw - 600px) / 1320);
  }
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .profile__bell-icon {
    width: calc(24px + 6 * (100vw - 600px) / 1320);
    height: calc(24px + 6 * (100vw - 600px) / 1320);
  }
}

.icons {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: -12px;
  gap: 16px;
  padding: 12px 23px 12px 32px;
  z-index: 1;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .icons {
    margin-top: calc(-9px + -3 * (100vw - 600px) / 1320);
    gap: calc(12px + 4 * (100vw - 600px) / 1320);
    padding-top: calc(9px + 3 * (100vw - 600px) / 1320);
    padding-bottom: calc(9px + 3 * (100vw - 600px) / 1320);
    padding-right: calc(18px + 5 * (100vw - 600px) / 1320);
    padding-left: calc(24px + 8 * (100vw - 600px) / 1320);
  }
}
.icons::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  border-radius: 16px;
  transform: skewX(20deg);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(90px);
  backdrop-filter: blur(90px);
  background: linear-gradient(90deg, rgb(13, 152, 119), rgb(46, 176, 145) 84.293%);
  z-index: -1;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .icons__icon svg {
    width: calc(12px + 4 * (100vw - 600px) / 1320);
  }
}
.icons__icon svg path {
  transition: fill 0.23s ease-in-out;
}
.icons__icon:hover svg path {
  fill: #fff;
}

.footer__content {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: space-between;
  z-index: 1;
}
.footer__content::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 375px;
  height: 135px;
  -webkit-backdrop-filter: blur(90px);
  backdrop-filter: blur(90px);
  border-radius: 40px 0 0 0;
  transform: skewX(-16deg);
  z-index: -2;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__content::after {
    width: calc(303px + 72 * (100vw - 600px) / 1320);
    height: calc(105px + 30 * (100vw - 600px) / 1320);
  }
}
.footer__content::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -22px;
  width: 580px;
  height: 135px;
  -webkit-backdrop-filter: blur(90px);
  backdrop-filter: blur(90px);
  border-radius: 0 30px 0 0;
  transform: skewX(17deg);
  z-index: -2;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__content::before {
    width: calc(377px + 203 * (100vw - 600px) / 1320);
    height: calc(120px + 15 * (100vw - 600px) / 1320);
  }
}
.footer__content-imgLeft {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 580px;
  height: 135px;
  z-index: -1;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__content-imgLeft {
    width: calc(370px + 210 * (100vw - 600px) / 1320);
    height: calc(115px + 20 * (100vw - 600px) / 1320);
  }
}
.footer__content-fon {
  position: absolute;
  left: 40px;
  bottom: 20px;
  z-index: -1;
  width: 540px;
  height: 115px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__content-fon {
    width: calc(355px + 185 * (100vw - 600px) / 1320);
    left: calc(10px + 30 * (100vw - 600px) / 1320);
  }
}
.footer__content-imgMap {
  position: absolute;
  top: 23px;
  right: 0;
  width: 400px;
  height: 430px;
  z-index: -1;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__content-imgMap {
    width: calc(300px + 100 * (100vw - 600px) / 1320);
  }
}
.footer__left {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 23px;
  margin-bottom: 16px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__left {
    margin-left: calc(18px + 5 * (100vw - 600px) / 1320);
    margin-bottom: calc(10px + 6 * (100vw - 600px) / 1320);
  }
}
.footer__left-img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 78px;
  height: 149px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__left-img {
    width: calc(60px + 18 * (100vw - 600px) / 1320);
    height: calc(115px + 34 * (100vw - 600px) / 1320);
  }
}
.footer__left-box {
  padding-left: 30px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__left-box {
    padding-left: calc(0px + 30 * (100vw - 600px) / 1320);
  }
}
.footer__left-title {
  position: relative;
  top: 0;
  left: 16px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 17px 77px 17px 57px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  z-index: -1;
  margin-bottom: 15px;
  white-space: nowrap;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__left-title {
    font-size: calc(11px + 3 * (100vw - 600px) / 1320);
    padding-top: calc(12px + 5 * (100vw - 600px) / 1320);
    padding-left: calc(42px + 25 * (100vw - 600px) / 1320);
    padding-bottom: calc(12px + 5 * (100vw - 600px) / 1320);
    margin-bottom: calc(12px + 3 * (100vw - 600px) / 1320);
    top: calc(5px + -5 * (100vw - 600px) / 1320);
  }
}
.footer__left-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transform: skewX(-20deg);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(90px);
  backdrop-filter: blur(90px);
  background: linear-gradient(270deg, rgb(238, 147, 101), rgb(219, 54, 104) 108.065%);
  z-index: -1;
}
.footer__left-text {
  position: relative;
  left: 20px;
  padding-left: 57px;
  color: rgb(255, 255, 255);
  font-size: 11px;
  max-width: 415px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__left-text {
    font-size: calc(9px + 2 * (100vw - 600px) / 1320);
    max-width: calc(280px + 145 * (100vw - 600px) / 1320);
    margin-top: calc(20px + -20 * (100vw - 600px) / 1320);
    padding-left: calc(42px + 15 * (100vw - 600px) / 1320);
  }
}
.footer__left .link {
  position: relative;
  right: -98px;
  margin-left: auto;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__left .link {
    right: calc(-75px + -23 * (100vw - 600px) / 1320);
  }
}
.footer__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 22px;
  margin-left: 0;
}
.footer__center-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  text-align: center;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__center-text {
    font-size: calc(11px + 3 * (100vw - 600px) / 1320);
  }
}
.footer__right {
  margin-bottom: 22px;
  margin-right: 22px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__right {
    margin-right: calc(12px + 10 * (100vw - 600px) / 1320);
    margin-bottom: calc(12px + 10 * (100vw - 600px) / 1320);
  }
}
.footer__right-box {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
  padding-left: 38px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__right-box {
    gap: calc(22px + 8 * (100vw - 600px) / 1320);
    margin-bottom: calc(15px + 5 * (100vw - 600px) / 1320);
    padding-left: calc(75px + -37 * (100vw - 600px) / 1320);
  }
}
.footer__right-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 500;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__right-link {
    font-size: calc(12px + 2 * (100vw - 600px) / 1320);
  }
}
.footer__right-block {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 38px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__right-block {
    padding-left: calc(75px + -37 * (100vw - 600px) / 1320);
  }
}
.footer__right-text {
  max-width: 230px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  line-height: 150%;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__right-text {
    font-size: calc(9px + 2 * (100vw - 600px) / 1320);
    max-width: calc(173px + 57 * (100vw - 600px) / 1320);
  }
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .footer__right-icon svg {
    width: calc(23px + 7 * (100vw - 600px) / 1320);
    height: calc(23px + 7 * (100vw - 600px) / 1320);
  }
}

.link {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  padding: 12px 30px;
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 500;
  z-index: 2;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .link {
    font-size: calc(9px + 2 * (100vw - 600px) / 1320);
    padding-top: calc(9px + 3 * (100vw - 600px) / 1320);
    padding-bottom: calc(9px + 3 * (100vw - 600px) / 1320);
    padding-left: calc(22px + 8 * (100vw - 600px) / 1320);
    padding-right: calc(22px + 8 * (100vw - 600px) / 1320);
  }
}
.link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transform: skewX(16deg);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(90deg, rgb(13, 152, 119), rgb(46, 176, 145) 99.898%);
  z-index: -1;
  transition: opacity 0.23s ease-in-out;
}
.link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transform: skewX(16deg);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(270deg, rgb(227, 95, 103), rgb(238, 147, 101) 108.065%);
  z-index: -1;
  opacity: 1;
  transition: opacity 0.23s ease-in-out;
}
.link.accordion--active::after, .link.accordionBot--active::after, .link:hover::after {
  opacity: 0;
}
.link.accordion--active .link__icon svg path, .link.accordionBot--active .link__icon svg path, .link:hover .link__icon svg path {
  fill-opacity: 1;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .link__icon svg {
    width: calc(22px + 8 * (100vw - 600px) / 1320);
  }
}
.link__icon svg path {
  transition: fill-opacity 0.23s ease-in-out;
}
.link--alt {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 15px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .link--alt {
    padding-top: calc(2px + 6 * (100vw - 600px) / 1320);
    padding-bottom: calc(2px + 6 * (100vw - 600px) / 1320);
  }
}
.link--alt::before, .link--alt::after {
  transform: skewX(-16deg);
}
.link--alt .link__column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .link--alt .link__column {
    padding-left: calc(0px + 5 * (100vw - 600px) / 1320);
    gap: calc(0px + 5 * (100vw - 600px) / 1320);
  }
}
.link--alt .link__column::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  width: 38px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}
.link--alt .link__text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .link--alt .link__text {
    font-size: calc(11px + 3 * (100vw - 600px) / 1320);
  }
}
.link--alt .link__text--alt {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .link--alt .link__text--alt {
    font-size: calc(9px + 3 * (100vw - 600px) / 1320);
  }
}

.map--alt {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 20px;
  border-radius: 20px;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  width: 332px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .map--alt {
    width: calc(230px + 102 * (100vw - 600px) / 1320);
  }
}
.map .ymaps-2-1-79-ground-pane {
  -ms-filter: grayscale(1) invert(90%);
  -moz-filter: grayscale(1) invert(90%);
  -o-filter: grayscale(1) invert(90%);
  filter: grayscale(1) invert(90%);
}
.map .ymaps-2-1-79-copyright,
.map .ymaps-2-1-79-gototech,
.map .ymaps-2-1-79-gototaxi__container,
.map .ymaps-2-1-79-gotoymaps__container {
  display: none;
}
.map__item {
  height: 230px;
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .map__item {
    height: calc(190px + 40 * (100vw - 600px) / 1320);
  }
}

.accordion-content,
.accordionBot-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.23s ease-in-out;
}

@media (max-width: 992px) {
  .footer__content::after {
    transform: skewX(-13deg);
  }
  .footer__center {
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 80px;
  }
}
@media screen and (max-width: 992px) and (max-width: 1080px) and (min-width: 600px) {
  .footer__center {
    margin-left: calc(50px + 30 * (100vw - 600px) / 1320);
  }
}/*# sourceMappingURL=style.css.map */